<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todolist.mapper.TodoListMapper">

<sql id="todolistColumns">
	num,
	month,
	content,
	status
</sql>

<select id="selectAll" parameterType="int" resultType="com.example.todolist.dto.TodoListDto">
	SELECT 	
		<include refid="todolistColumns"/>
	FROM 
		TODOLIST
	WHERE
		month=#{month}
</select>

<insert id="insertData" parameterType="com.example.todolist.dto.TodoListDto">
	INSERT INTO TODOLIST (
		<include refid="todolistColumns"/>
	) VALUES (
		(SELECT * FROM(
			SELECT
				ifnull(MAX(num)+1, 1)
			FROM
				TODOLIST as t)
		as tt)
		,#{month}
		,#{content}
		,#{status}
	)	
</insert>

<delete id="deleteData" parameterType="int">
	DELETE
	FROM
		TODOLIST
	WHERE
		num=#{num}
</delete>
</mapper>